.validation-input {
  border: 3px solid #bdbdbd;
}

.validation-input.valid {
  border-color: #4caf50;
}

.validation-input.invalid {
  border-color: #f44336;
}

.task03Images {
  width: 100px;
}
ul{
  list-style: none;
}